<h3 class="titleClass">Uygunsuzluk Bildirimi</h3>
<div class="mb-3 mt-1" >
    <span class="titleSpan">Tür Bilgisi: </span>
    <span class="descSpan">Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio reiciendis ducimus odit libero excepturi eligendi ratione hic dolorum doloremque, molestiae accusamus nesciunt ipsa, quo, odio quam qui doloribus. At inventore, dolore quos laboriosam ex recusandae nesciunt. Id, nulla a, porro quas dolorum adipisci itaque corrupti quo quam repudiandae, culpa et!</span>
</div>
<div class="mb-3 mt-1" >
    <span class="titleSpan">Konum: </span>
    <span class="descSpan">Lorem ipsum dolor sit amet.</span>
</div>
<div class="mb-3 mt-1" >
    <span class="titleSpan">Bildiren Kişi: </span>
    <span class="descSpan">Lorem ipsum dolor sit amet.</span>
</div>
<div class="mb-3 mt-1" >
    <span class="titleSpan">Açıklama: </span>
    <span class="descSpan">Lorem ipsum dolor sit amet.</span>
</div>
<div class="mb-3 mt-1" >
    <span class="titleSpan">Açıklama: </span>
    <span class="descSpan">Lorem ipsum dolor sit amet.</span>
</div>
<div class="mb-3 mt-1" >
    <span class="titleSpan">Açıklama: </span>
    <span class="descSpan">Lorem ipsum dolor sit amet.</span>
</div>