.titleSpan{
	font-family: "Tahoma", Gadget, sans-serif;
	font-size: 16px;
	letter-spacing: 0.2px;
	word-spacing: 0px;
//	color: #000000;
	font-weight: 700;color: #FF971D;

}
.descSpan{
	font-family: "Baloo 2", cursive;
	font-size: 16px;
}

.titleClass{
	font-family: "Tahoma", Gadget, sans-serif;
	font-size: 18px;
	letter-spacing: 0.2px;
	word-spacing: 0px;
	color: #000000;
	font-weight: 700;
}
